* {
  font-family: 'Roboto', sans-serif;
  font-family: 'Shrikhand', cursive;
  box-sizing: border-box;
  }
main{
  display: block;
}
 

  header{
    text-align: center;
   
  }
  body{
    margin: 0px;
  }