@mixin zoom{
    transform: scale(1.02);
}
@mixin heart{
    .hoverheart-resto:hover{
        .hoverheart__content-solid{
       
          cursor: pointer;
          font-size: 5px;
          position: absolute;
          right: 5px;
          top: 80%;
          background-image: $gradient;
          background-clip: text;
          color: transparent;
          -webkit-background-clip:text ;
          animation: opacity 1.5s ease;
          opacity: 0;
          line-height: normal;
         
        }
        .hoverheart__content-light{
          cursor: pointer;
          font-size: 5px;
          position: absolute;
          right: 5px;
          top: 80%;
          opacity: 1;
          
        }
        .fa-xl{
          line-height: normal;
        }
        .hoverheart__content-solid {
            opacity: 1;
            transition: all 1s ease-in-out;
        }
        .hoverheart__content-light{
            opacity: 0;
            transition: all 1s ease-in-out;
        }
      }   
}