$purple: #9356DC;
$pink: #FF79DA;
$green-wather: #99E2D0;
$green:#008766;
$dark-grey:#353535;
$color-background:  #F6F6F6 ;
$soft-grey: #d3d3d3;
$gradient:linear-gradient(#FF79DA,#9356DC);
$shadow:5px 5px 10px $dark-grey;
